/* VIP Page Styles */
.vip-page {
    background-color: #f0f4ff;
    min-height: 100vh;
    margin: 3.75rem 0rem;
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* VIP Info Section */
.vip-page .vip-info {
    background: linear-gradient(180deg, #115E9A 0%, #102581 100%);
    border-radius: 8px;
    width: 90%;
    min-height: 137px;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    justify-content: space-between;
}

.vip-page .vip-body {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    width: 100%;
    padding: 1rem 2rem;
    background: #F8F8F8;
}

.vip-page .vip-badge {
    margin-bottom: 1rem;
}

.vip-page .vip-details {
    background-image: url('/mobile_images/background/vip-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    text-align: left;
    width: 100%;
    padding: 1rem 1rem 0rem 1rem;
}

.vip-page .vip-level {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.vip-page .vip-level span:nth-child(1) {
    font-size: 1.5rem;
    font-weight: bold;
    color: #BDF8FE;
}

.vip-page .vip-level span:nth-child(2) {
    font-size: 0.6rem;
    color: #BDF8FE;
}


.vip-page .vip-progress {

    color: #BDF8FE;
    margin: 0.5rem 0;
}

.vip-page .vip-progress span:nth-child(1) {
    font-size: 2rem;
    font-weight: bold;
}

.vip-page .vip-progress span:nth-child(2) {
    font-size: 0.7rem;
    font-weight: bold;
}

.vip-page .vip-progress-bar {
    background-color: #fff;
    height: 6px;
    border-radius: 3px;
    width: 100%;
    position: relative;
}

.vip-page .vip-progress-fill {
    background-color: #5269AF;
    height: 100%;
    border-radius: 3px;
}

.vip-page .vip-progress-text {
    font-size: 0.7rem;
    font-weight: bold;
    color: #BDF8FE;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* VIP Sidebar */
.vip-page .vip-sidebar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 25%;
}

.vip-page .vip-level-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    background: #323d6bbf;
    border: 1px solid #102E85;
    box-shadow: 0px 6px 4px 0px #00000040 inset;
    color: #fdfdfd;
    transition: background-color 0.3s ease;
}

.vip-page .vip-level-item.active {
    background: #115897;
    border: 1px solid #102E85;
    box-shadow: 0px 6px 4px 0px #00000040 inset;
    color: #fdfdfd;
}

.vip-page .vip-level-item img {
    margin-left: 0.2rem;
}

/* VIP Perks Section */
.vip-page .vip-perks {
    background: #EEEEEE;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #D9D9D9;
    flex: 1;
}

.vip-page .vip-perks-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
}

.vip-page .vip-perks-header span {
    font-size: 1.25rem;
    font-weight: bold;
    background: #115B98;
    color: #fdfdfd;
    border-radius: 20px;
    padding: 0.5rem 4rem;
}


.vip-page .perks-list {
    list-style: none;
    padding-left: 1rem;
    margin: 0;
}

.vip-page .perks-list li {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.vip-page .perks-list li span {
    font-size: 1rem;
}
